body{
	background-image:url('johann-siemens-EPy0gBJzzZU-unsplash.jpg');
	background-repeat:no-repeat;
	background-position:left-bottom;
	background-size:100% 100%;
	
}
h1{
	font-size:400%;
	text-align:center;
	margin-top:80px;
	font-family:"Times New Roman", Times, serif;
}
table{
	table-layout:fixed;
	font-size:200%;
	margin-left:600px;
	margin-top:200px;
}
top,bottom{
	position:fixed;
	width:100%;
	z-index:1
}
div#reg *{
	text-decoration: none;
}